---
layout: ""
page_title: "Provider: Imagefactory"
description: |-
  The Imagefactory provider provides resources to interact with the Nordcloud Klarity Imagefactory API.
---

# Imagefactory Provider

The Imagefactory provider provides resources to interact with the Nordcloud Klarity Imagefactory API.

Check https://docs.imagefactory.nordcloudapp.com for detailed product documentation.

## Example Usage

{{tffile "examples/provider/provider.tf"}}
